.label {
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: var(--fs-body-2);
    font-weight: var(--fw-regular);
    line-height: 137.5%;
}

.input {
    appearance: none;

    /* -webkit-appearance: none; */

    transform: translateY(-0.05em);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    border-radius: 50%;
    min-inline-size: 1em;
    min-block-size: 1em;
    outline: 1px solid var(--clr-card-stroke);

    /* For iOS < 15 to remove gradient background */
    background-color: #fff;

    font: inherit;
    color: currentcolor;

    cursor: default;
}

.input::before {
    content: "";

    transform: scale(0);
    transition: 0.075s transform;

    box-shadow: inset 1em 1em var(--clr-dark-blue);
    border-radius: 50%;
    inline-size: 0.7em;
    block-size: 0.7em;

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.input:checked {
    outline: 1px solid var(--clr-dark-blue);
}

.input:checked::before {
    transform: scale(1);
}

.input:focus-visible {
    outline: 1px solid currentcolor;
}
