/* stylelint-disable comment-empty-line-before, rule-empty-line-before */

/* Customization for Ant design components (here is additional; the core one - in ConfigProvider) */

/* TODO: Go through created components and move custom styles from them to here */

/* TODO: move some style values to design tokens (because of appearing new tokens) */

.ant-app {
    block-size: 100%;
}

/* Button */

/* .custom-btn */
.custom-btn.ant-btn-default:not(:disabled):active {
    border-color: var(--clr-light-blue);
}

.custom-btn.ant-btn-primary:not(:disabled):active {
    border-color: var(--clr-light-blue);
}

/* end .custom-btn */

/* .custom-btn-transparent */
.custom-btn-transparent {
    border-color: var(--clr-light-blue);

    background-color: transparent;

    font-size: var(--fs-body-3);
    color: var(--clr-light-blue);
}

.custom-btn-transparent.ant-btn-default:not(:disabled):active {
    background-color: var(--clr-selected);
}

/* end .custom-btn-transparent */

.custom-action-btn {
    border-radius: var(--radius-8);
    border-color: var(--clr-card-stroke);

    background-color: var(--clr-white);

    font-size: var(--fs-body-3);
    color: var(--clr-primary-text);
}

/* .custom-popconfirm-cancel-btn */
.custom-popconfirm-cancel-btn {
    border-color: transparent;

    background-color: var(--clr-bg);

    color: var(--clr-second-text);
}

/* end .custom-popconfirm-cancel-btn */

/* Select */

/* .custom-select */
.custom-select {
    inline-size: 100%;
}

.custom-select.ant-select-show-arrow.ant-select-disabled svg > path {
    fill: var(--clr-gray);
}

.custom-select.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: pointer;
}

.custom-select.ant-select-show-search.ant-select:not(.ant-select-customize-input).ant-select-open .ant-select-selector {
    cursor: text;
}

.custom-select.ant-select-focused:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: none;
    border-color: var(--clr-dark-blue);
}

/* end .custom-select */

/* .custom-select-popup */
.custom-select-popup {
    border-radius: var(--radius-24);
}
/* end .custom-select-popup */

/* Switch */

/* .custom-switch */
.custom-switch {
    border-radius: var(--radius-16);
    outline: 0.0625rem solid var(--clr-dark-blue);
    background-color: var(--clr-bg);
}

.custom-switch .ant-switch-handle::before {
    border-radius: var(--radius-16);
    background-color: var(--clr-dark-blue);
}

.custom-switch.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 1.5625rem);
}

.custom-switch.ant-switch-checked .ant-switch-handle::before {
    background-color: var(--clr-white);
}

.custom-switch.ant-switch-small {
    border-radius: 0.6rem;
    outline: 0.0375rem solid var(--clr-dark-blue);
}

.custom-switch.ant-switch-small .ant-switch-handle::before {
    border-radius: var(--radius-10);
}

.custom-switch.ant-switch-small.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 0.9375rem);
}

.custom-switch.ant-switch-small.ant-switch-checked .ant-switch-handle::before {
    background-color: var(--clr-white);
}

/* end .custom-switch */

/* Date Picker */

/* .custom-date-picker */
.custom-date-picker.ant-picker {
    flex-grow: 3;
    transition: initial;
}

.custom-date-picker.ant-picker .ant-picker-input > input {
    color: var(--clr-dark-blue);
}

.custom-date-picker.ant-picker .ant-picker-input > input ~ .ant-picker-suffix {
    color: var(--clr-dark-blue);
}

.custom-date-picker.ant-picker .ant-picker-input > input:placeholder-shown ~ .ant-picker-suffix {
    color: var(--clr-gray);
}

/* .custom-date-picker */

/* .custom-date-picker-popup */
.custom-date-picker-popup {
    font-size: var(--fs-body-3);
}

.custom-date-picker-popup.ant-picker-dropdown .ant-picker-content th {
    font-size: var(--fs-caption-1);
    color: var(--clr-gray);
}

/* end .custom-date-picker-popup */

/* TimePicker (as of 03.04.2023 there is no design tokens for it) */

/* .custom-time-picker */
.custom-time-picker.ant-picker {
    transition: initial;
    block-size: 2.625rem;
    border-color: var(--clr-card-stroke);
}

.custom-time-picker.ant-picker.ant-picker-status-error {
    border-color: var(--clr-red);
}

.custom-time-picker.ant-picker .ant-picker-input > input {
    text-align: center;
    color: var(--clr-dark-blue);
}

.custom-time-picker.ant-picker .ant-picker-input > input::placeholder {
    color: var(--clr-gray);
}

/* end .custom-time-picker */

/* .custom-time-picker-popup */
.custom-time-picker-popup {
    font-size: var(--fs-body-3);
}

/* end .custom-time-picker-popup */

/* Popconfirm */

/* .custom-popconfirm */
.custom-popconfirm .ant-popover-inner {
    padding: 1.5rem 1.25rem;
}

.custom-popconfirm .ant-popconfirm-message {
    justify-content: center;
}

.custom-popconfirm .ant-popconfirm-message-text {
    flex-grow: 1;
    text-align: center;
}

.custom-popconfirm .ant-popconfirm-description {
    font-size: var(--fs-body-3);
}

.custom-popconfirm .ant-popconfirm-buttons {
    text-align: center;
}

/* end .custom-popconfirm */

/* Modals */

/* custom-modal-settings */
.custom-modal-settings .ant-modal-content {
    display: flex;
    flex-direction: column;

    gap: 1.25rem;
    padding: 1.5rem 2rem;
    border-radius: 12px;

    background-color: var(--clr-bg);
}

.custom-modal-settings .ant-modal-header {
    margin: 0;
}

.custom-modal-settings .ant-modal-title {
    background-color: var(--clr-bg);

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    font-size: var(--fs-title-3);
}

.custom-modal-settings .ant-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    margin-top: 1rem;
}

/* .custom-modal */
.custom-ant-modal .ant-modal-content {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    border-radius: 1.25rem;
    gap: 0.75rem;
    inline-size: 29.75rem;

    background: var(--clr-white);
}

.custom-ant-modal .ant-modal-header {
    margin: 0;
}

.custom-ant-modal .ant-modal-title {
    font-size: var(--fs-title-4);
    text-align: center;
}

.custom-ant-modal .ant-modal-footer {
    display: flex;
    justify-content: center;
    margin: 0;
}

.custom-ant-modal .ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 100%;
    border-radius: 0.5rem;
    line-height: 150%;
    block-size: 3.5rem;
    padding: 1rem 1.5rem;

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    text-align: center;
    font-size: 1rem;
}

.custom-ant-modal .ant-btn-primary {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
}

.custom-ant-modal .ant-btn-default {
    border: 1px solid var(--clr-card-blue);

    background-color: var(--clr-white);
    color: var(--clr-dark-blue);
}

.custom-modal-settings .ant-modal-footer .ant-btn {
    inline-size: 7.5rem;
    flex-shrink: 0;
    block-size: 2.75rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    font-size: 0.875rem;
    line-height: 114%;
}

.custom-modal-settings .ant-modal-footer .ant-btn-primary {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
}

.custom-modal-settings .ant-modal-footer .ant-btn-default {
    border: 1px solid var(--clr-card-blue);
    background-color: var(--clr-white);
    color: var(--clr-dark-blue);
}

@media (hover: hover) {
    .custom-ant-modal .ant-btn-primary:hover {
        box-shadow: 0 60px 4px 0 rgba(13 57 122 / 0.20) inset;
        border: 1px solid var(--clr-second-blue);
        background-color: var(--clr-second-blue);
    }

    .custom-ant-modal .ant-btn-default:hover {
        color: var(--clr-second-blue);
    }

    .custom-modal-settings .ant-modal-footer .ant-btn-primary:hover {
        box-shadow: 0 60px 4px 0 rgba(13 57 122 / 0.20) inset;
        border: 1px solid var(--clr-second-blue);
        background-color: var(--clr-second-blue);
    }

    .custom-modal-settings .ant-modal-footer .ant-btn-default:hover {
        color: var(--clr-second-blue);
    }
}

/* Popover */

/* .custom-popover */
.custom-popover.ant-popover .ant-popover-inner {
    inline-size: 29rem;
    min-block-size: 11.4rem;
    padding: 1.25rem;
}

.custom-popover.ant-popover .ant-popover-inner .ant-popover-title {
    margin-block-end: 1.25rem;
}

/* end .custom-popover */

/* .custom-file-popover */
.custom-file-popover.ant-popover .ant-popover-inner {
    inline-size: 15rem;
    min-block-size: 6rem;
    padding: 1rem;
}

.custom-file-popover.ant-popover .ant-popover-inner-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* end .custom-file-popover */

.custom-dropdown-overlay .ant-dropdown-menu {
    border-radius: 6px;
    overflow-y: auto;
    max-block-size: 20.3125rem;
    padding: 0 1px;
}

@media (hover: hover) {
    .custom-btn.ant-btn-default:not(:disabled):hover {
        background-color: var(--clr-bg);
    }

    .custom-popconfirm-cancel-btn.ant-btn-default:not(:disabled):hover {
        border-color: var(--clr-card-stroke);

        color: var(--clr-primary-text);
    }

    .custom-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
        transition: initial;

        border: 0.0625rem solid var(--clr-dark-blue);

        background-color: var(--clr-bg);
    }

    .custom-date-picker.ant-picker:hover:not(:disabled) {
        background-color: var(--clr-bg);
    }

    .custom-time-picker.ant-picker:hover:not(:disabled) {
        border-color: var(--clr-dark-blue);
        background-color: var(--clr-bg);
    }
}
/* stylelint-enable comment-empty-line-before, rule-empty-line-before */
