@import url("../../shared/css/colours.css");
@import url("../../shared/css/containers.css");
@import url("../../shared/css/font.css");
@import url("../../shared/css/radiuses.css");

:root {
    font-family: Inter, sans-serif;

    /* fix for Chrome */
    font-feature-settings: 'liga' 1, 'calt' 1;
}

* {
    box-sizing: border-box;
}

/* stylelint-disable no-duplicate-selectors */
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
button,
input,
textarea,
small {
    all: unset;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
button,
input {
    display: block;
    box-sizing: border-box;
}
/* stylelint-enable no-duplicate-selectors */

button {
    cursor: pointer;
}

input {
    cursor: text;
}

a {
    text-decoration: none;
}

html {
    inline-size: 100vw;
    block-size: 100vh;

    font-size: 16px;
    line-height: 1.2;
    font-weight: var(--fw-regular);

    background-color: var(--clr-bg);
    color: var(--clr-primary-text);

    scrollbar-color: var(--clr-gray) var(--clr-white);
    scrollbar-width: thin;
}

html * {
    scrollbar-width: inherit;
}

body {
    block-size: 100%;
}

body svg path {
    fill: currentcolor;
}

#root {
    block-size: 100%;
}

.sr-only-element {
    position: absolute;

    inline-size: 1px;
    block-size: 1px;
    padding: 0;

    overflow: hidden;

    white-space: nowrap;

    border: 0;
    opacity: 0;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
