.container {
    position: absolute;
    inset: 0;

    display: none;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    block-size: 100svh;

    backdrop-filter: blur(10px);
}

.container[data-show="true"] {
    display: flex;
}

.loader {
    --loader-width: 2.5rem;
    --loader-border-width: 4px;

    inline-size: var(--loader-width);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: var(--loader-border-width) solid #d4c6c6;
    border-top: var(--loader-border-width) solid #555;

    animation: spin 1s linear infinite;
}

.medium {
    --loader-width: 2rem;
    --loader-border-width: 3px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}