.buttonsContainer,
.pollContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.pollContainer {
    padding: 1.5rem;

    border-radius: var(--radius-12);

    background-color: var(--clr-white);
}

.pollComment {
    margin-inline: auto;

    font-size: var(--fs-caption-1);
    color: var(--clr-gray);
}