.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: var(--radius-12);
    background: var(--clr-white);
    font-family: Commissioner, sans-serif;
    font-weight: 500;
    line-height: 20px;
}

.additionalInfoBlock svg {
    color: var(--clr-gray);
    width: 1rem;
}

.rights svg {
    width: 16px;
    color: var(--clr-gray);
}

.container svg:hover {
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoBlock {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 12px 0;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ava {
    width: 3rem;
}

.name {
    display: flex;
    gap: 5px;
    font-family: Commissioner, sans-serif;
}

.nickName {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.rights {
    background-color: var(--clr-primary-gray);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    gap: 8px;
}

.rightsType {
    display: flex;
    flex-direction: column;
}

.rightsSubTitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--clr-gray);
}

.additionalInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-gray);
    border-radius: 12px;
    padding: 8px 12px;
    gap: 8px;
}

.additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-inline-size: 190px;
    line-height: 22px;
}

.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.stat {
    display: flex;
    flex-direction: column;
    inline-size: 110px;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: var(--clr-primary-gray);
    gap: 2px;
}

.date {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: var(--clr-primary-gray);
    gap: 2px;
}

.banBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.banInfo {
    font-size: 12px;
    font-weight: 400;
    line-height: 1rem;
    color: var(--clr-gray);
}
