.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    inline-size: 100%;
    block-size: 100%;
}

.container > h2 {
    font-size: var(--fs-title-2);
}

.subtitle {
    font-family: InterVariable, Inter, sans-serif;
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
    text-align: center;
    color: var(--clr-gray);
}

.fallbackSubtitle {
    font-size: var(--fs-title-4);
}

.list {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    inline-size: 100%;
    min-block-size: 8.75rem;
    max-block-size: 8.75rem;
}

.stretched {
    min-block-size: 17.6875rem;
}
