.btnGroup {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0.5rem;
}

.questionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 11.5rem;
    padding: 1.75rem 2rem 1.5rem;
    gap: 1rem;
    border-bottom: 1px solid var(--clr-bg);
    background: var(--clr-white);
}

.questionItem:hover {
    background: var(--clr-bg);
    cursor: pointer;
}

.faqQuestionBlock {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 1rem;
}

.faqQuestionItem {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    max-width: 37.5rem;
    word-wrap: break-word;
}

.faqAnswer {
    width: 37.5rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

.faqLinkAnswer {
    max-width: 37.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.buttonItemBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 8.25rem;
    position: relative;
}
