.leftContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--clr-white);
    border-radius: 0 0 0.75rem 0.75rem;
    overflow-y: auto;
}

.list {
    max-height: 34.6625rem;
}

.section {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem 0.75rem 0 0;
    background: var(--clr-white);
    border-bottom: 0.0625rem solid var(--clr-bg);
    align-self: stretch;
}


.head {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem;
}

.taskModule {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-inline-start: 2rem;
}

.emptyTitle {
    padding: 2rem;
    font-size: var(--fs-title-4);
    font-style: normal;
    font-weight: var(--fw-medium);
    line-height: 1.25rem;
}

.listModule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.message {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
}

.settings {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    justify-content: center;
    gap: 0.5rem;
}

.settings:hover {
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.rightBlock {
    display: flex;
    align-items: center;
}