.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: var(--clr-gray);
}

.buttons {
    display: flex;
    column-gap: 0.625rem;
}

.buttons button {
    inline-size: 1.5rem;
    block-size: 1.5rem;
    padding: 0;

    color: var(--clr-gray);
}