.link {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    padding-inline: 0.75rem;

    color: var(--clr-second-text);
}

.link > span {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-2);
    font-weight: var(--fw-medium);
}

@media (hover: hover) {
    .link:hover{
        color: var(--clr-second-text);
    }
}