.myCommand {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    overflow-y: auto;
    max-height:540px;
}

.myCommand-content {
    overflow-y: scroll;
}

.title {
    font-family: Commissioner, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height:1.5rem;
}

.commandBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.command {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid var(--clr-primary-gray);
    border-radius: 0.75rem;
    inline-size: 14.9rem;
    block-size: 9.5rem;
    padding: 1rem 1.5rem;
    background-color: var(--clr-primary-gray);
}

.command:hover {
    border: 1px solid var(--clr-dark-blue);
    cursor: pointer;
}

.commandTitle,
.commandContentText {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.commandTitle {
    color: var(--clr-primary-text);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.commandContentText {
    color: var(--clr-second-text);
}

.addCommand {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    inline-size: 14.9rem;
    block-size: 10rem;
    padding: 1rem 1.5rem;
    background-color: var(--clr-primary-gray);
}

.addCommand:hover {
    border: 1px solid var(--clr-dark-blue);
    cursor: pointer;
}

.plusIcon {
    border-radius: 0.5rem;
    inline-size: 3.5rem;
    block-size: 3.5rem;
    padding: 1rem;
    color: var(--clr-second-text);
}

.controlBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-dark-blue);
    font-size: 1rem;
}

.control {
    display: flex;
    min-height: 3.6rem;
    align-items: center;
    justify-content: center;
}

.DoneIcon {
    padding: 12px;
}
