.container {
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
}

.innerContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    inline-size: 100%;
}

.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-inline-size: 17rem;

    color: var(--clr-primary-text);
}

.type {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.0625rem 0.25rem;
    font-family: Inter, sans-serif;
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
}

.supergroup {
    background-color: var(--clr-transparent-green);
    color: var(--clr-green);
}

.channel {
    background-color: var(--clr-transparent-yellow);
    color: var(--clr-yellow);
}

.group {
    background-color: var(--clr-transparent-blue);
    color: var(--clr-dark-blue);
}

@media (hover: hover) {
    .container:hover {
        background: var(--clr-primary-gray);
    }
}
