.customToolbar {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    background-color: var(--clr-white);
}

.customToolbar:global(.ql-toolbar.ql-snow) {
    padding: 0;
    border: none;
}

.customToolbar:global(.ql-toolbar.ql-snow) button {
    inline-size: 2rem;
    block-size: 2rem;
}

.customToolbar:global(.ql-toolbar button.ql-active) {
    background-color: var(--clr-bg);
}

.customToolbar:global(.ql-toolbar button.ql-active) svg path {
    background-color: var(--clr-bg);
    fill: var(--clr-dark-blue);
}

@media (hover: hover) {
    .customToolbar:global(.ql-toolbar) button:hover {
        background-color: var(--clr-bg);
    }
}