.tabs {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border-bottom: 1px solid var(--clr-bg);
}

.tab {
    padding: 0.5rem 1rem;

    font-weight: var(--fw-regular);
    color: var(--clr-primary-text);
    text-align: center;
}

.tab:hover {
    border-radius: 1.25rem;

    background-color: var(--clr-primary-gray);

    color: var(--clr-primary-text);
}

.active {
    pointer-events: none;

    border-bottom: 1px solid var(--clr-dark-blue);

    color: var(--clr-dark-blue);
}