.basis {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    inline-size: 100%;
    border-radius: 0.5rem;

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    text-align: center;
}

.big {
    block-size: 3.5rem;
    padding: 1rem 1.5rem;

    font-size: 1rem;
    line-height: 150%;
}

.medium {
    block-size: 2.75rem;
    padding: 0.75rem 1.5rem;
}


.small {
    block-size: 2.125rem;
    padding: 0.5rem 1rem 0.625rem;
}

.onlyIcon {
    inline-size: fit-content;
    padding: 0.75rem;
}

.medium,
.small {
    font-size: 0.875rem;
    line-height: 114%;
}

.big>:global(span.anticon) {
    inline-size: 1.5rem;
    block-size: 1.5rem;
}

.medium>:global(span.anticon) {
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

.small>:global(span.anticon) {
    inline-size: 1rem;
    block-size: 1rem;
}

.primary {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);
}

.secondary {
    border: 1px solid var(--clr-card-blue);

    background-color: var(--clr-white);
    color: var(--clr-dark-blue);
}

.tertiary {
    color: var(--clr-second-text);
    border: 2px solid transparent;
}

/* .primary:focus {} the same as default */

.secondary:focus {
    border: 2px solid var(--clr-dark-blue);
}

.tertiary:focus {
    border: 2px solid var(--clr-card-stroke);
}

.primary:disabled,
.secondary:disabled,
.tertiary:disabled {
    opacity: 0.4;

    cursor: not-allowed;
}

.secondary:disabled,
.tertiary:disabled {
    border: 1px solid var(--clr-white);
}

/* .primary:active {} the same as default */

.secondary:active {
    border: 1px solid var(--clr-dark-blue);
}

/* .tertiary:active {} the same as default */

@media (hover: hover) {
    .primary:hover {
        box-shadow: 0 60px 4px 0 rgba(13 57 122 / 0.20) inset;

        border: 1px solid var(--clr-second-blue);
        background-color: var(--clr-second-blue);
    }

    .secondary:hover {
        color: var(--clr-second-blue);
    }

    .tertiary:hover {
        background-color: var(--clr-bg);

        color: var(--clr-second-blue);
    }
}
