.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: var(--clr-white);
}

.label {
    font-family: Commissioner, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.description {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    color: var(--clr-second-text);
}
