.container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;

    block-size: 100%;
    padding: 3.75rem max(6.25rem, calc(50vw - 620px));

    background-color: var(--clr-bg);
}

.logo {
    block-size: auto;
    max-inline-size: 13rem;

    vertical-align: middle;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
}

.errorText {
    max-inline-size: calc(100% / 1.8);
}

.errorText > h1 {
    font-size: var(--fs-headline-2);
}

.errorText > h2 {
    margin-block-start: 1rem;
}

.navLink {
    display: flex;
    align-items: center;
    column-gap: 1.6875rem;
}

.navLink > a {
    font-size: var(--fs-title-2);
    color: var(--clr-dark-blue);
}

.unluckySvg {
    align-self: flex-end;
    flex-grow: 1;

    block-size: auto;
    max-inline-size: 21.25rem;

    vertical-align: middle;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 3.75rem 5rem;
    }
}

@media screen and (max-width: 992px) {
    .errorText > h1 {   
        font-size: var(--fs-headline-3);
    }

    .unluckySvg {
        max-inline-size: 18rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 2.5rem;
    }

    .main {
        row-gap: 3rem;
    }

    .errorText {
        max-inline-size: 100%;
    }
    
    .errorText > h1 {
        font-size: var(--fs-title-1);
    }

    .navLink {  
        column-gap: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .unluckySvg {
        display: none;
    }
}
