.title {
    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
    font-size: var(--fs-title-2);
}

.fieldset {
    display: flex;
    flex-direction: column;

    margin-block-start: 1.25rem;
}

.optionRowsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    
    padding: 1rem 1.5rem;
    border-radius: var(--radius-12);

    background-color: var(--clr-primary-gray);
}

.optionRow {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
