.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 16.875rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: var(--radius-12);
    background: var(--clr-white);
}

.topBlock {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.h2 {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-2);
    font-weight: var(--fw-medium);
    color: var(--clr-primary-text);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

