.container {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background: var(--clr-bg-blue);
    inline-size: 50%;
    margin-left: -2rem;
    margin-top: -1rem;
    block-size: 100vh;
    padding: 2rem 1rem 1rem 3rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: -1rem;
}

.mainTitle {
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.1019rem;
}

.mainSubtitle {
    color: var(--clr-white);
    font-family: Poppins, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.0938rem;
    white-space: pre-line;
}

.coinLarge {
    width: 15rem;
    margin-right: 4.375rem;
    animation: rotateCoinLarge 5s infinite ease-in-out, float-large 5s infinite ease-in-out;
}

.coinMedium {
    width: 5rem;
    margin-top: 0.625rem;
    margin-right: 16.25rem;
    animation: rotateCoinMedium 6s infinite ease-in-out, float-medium 6s infinite ease-in-out;
}

.coinSmall {
    width: 4.375rem;
    height: 4.375rem;
    margin: 0.625rem 5rem;
    animation: rotateCoinSmall 7s infinite ease-in-out, float-small 7s infinite ease-in-out;
}

@keyframes float-large {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.25rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float-medium {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.9375rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes float-small {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.625rem);
    }

    100% {
        transform: translateY(0);
    }
}
