.preview,
.ul {
    color: var(--clr-second-text);
}

.preview {
    overflow-wrap: anywhere;
}

.ul {
    margin-block-start: 0.25rem;
    padding-inline-start: 0.25rem;
}

.li {
    display: flex;
    list-style-type: 'none';
}

.prefixIcon {
    margin-inline-end: 0.5rem;
}
