.container {
    position: relative;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
    line-height: 125%;
    color: var(--clr-primary-text);
}

.input,
.hint {
    font-family: InterVariable, Inter, sans-serif;
}

.input::placeholder,
.hint {
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
}

.input {
    display: flex;
    align-items: center;
    column-gap: 8px;

    border-radius: 8px;
    border: 1px solid var(--clr-card-stroke);
    height: 40px;
    padding: 0 8px 0 12px;

    background-color: var(--clr-white);

    font-size: var(--fs-body-3);
    font-weight: var(--fw-medium);
    line-height: 157%;
}

.input:focus {
    border: 2px solid var(--clr-dark-blue);
}

.input:disabled {
    background: linear-gradient(0deg, rgba(255 255 255 / 0.97) 0%, rgba(255 255 255 / 0.97) 100%), #090814;
}

.hint {
    position: absolute;
    right: 0;

    font-size: var(--fs-caption-1);
    line-height: 133%;
}

.invalid .input {
    border: 1px solid var(--clr-red);
}

.invalid .hint {
    color: var(--clr-red);
}
