.layout {
    position: relative;
    
    overflow: hidden;

    display: flex;
    column-gap: 1.25rem;

    margin-inline: auto;
    max-inline-size: var(--max-app-width);
    block-size: 100%;
    padding-block: 1rem;
}

.sider {
    position: sticky;
    top: 0;
    left: 0;

    min-inline-size: var(--sider-width);
    max-inline-size: var(--sider-width);
    block-size: 100%;
    padding: 1.5rem 1rem;

    border-radius: var(--radius-12);
    background-color: var(--clr-white);
}

.maxWidth {
    max-inline-size: 100%;
}

/* TODO: replace display: none with .sr-only-element because of a11y */

@media screen and (max-width: 768px) {
    .sider {
        display: none;
    }
}
