.content {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding-inline-end: 20px;
}

.wrapper {
    display: flex;
    gap: 1.25rem;
    height: 100%;
}

.createBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}


.title {
    gap: 0.5rem;
    margin-block-end: 2rem;
}

.h1 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.625rem;
}

.h3 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.h4 {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
    line-height: 125%;
    color: var(--clr-primary-text);
}

.block {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    align-self: stretch;
}

.buttonBlock {
    display: flex;
    height: 100%;
    align-content: flex-end;
    padding: 0 2px;
}

.ruleManage {
    display: flex;
    gap: 1.5rem;
    margin-block-end: 2rem;
}

.select {
    gap: 0.5rem;
}

.counter {
    display: flex;
    justify-content: flex-end;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-caption-1);
    line-height: 133%;
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    inline-size: 33.375rem;
}

.commandAvailable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.choice {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-block-start: 0.5625rem;
}

.errorMessage {
    display: flex;
    justify-content: flex-end;
    color: var(--clr-red);
    font-size: 0.75rem;
}