.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    inline-size: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
}

.innerContainer {
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-inline-size: 17rem;
}

.description > h3 {
    color: var(--clr-gray);
}

.type {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.0625rem 0.25rem;
    font-family: Inter, sans-serif;
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
}

.supergroup {
    background-color: var(--clr-transparent-green);
    color: var(--clr-green);
}

.channel {
    background-color: var(--clr-transparent-yellow);
    color: var(--clr-yellow);
}

.group {
    background-color: var(--clr-transparent-blue);
    color: var(--clr-dark-blue);
}

.icons {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 1.25rem;
}

.icons > svg {
    cursor: pointer;
}

@media (hover: hover) {
    .container:hover {
        background-color: var(--clr-primary-gray);
    }

    .container:hover .icons {
        display: flex;
    }
}
