.text {
    margin-inline-start: auto;
    width: fit-content;

    font-family: InterVariable, Inter, sans-serif;
    font-weight: var(--fw-regular);
    font-size: var(--fs-caption-1);
    color: var(--clr-red);
}