/* Start CommandManage styles */

.ruleManage {
    display: flex;
    gap: 1.5rem;
}

.manage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

/* End CommandManage styles */

/* Start CommandAvailable styles */
.commandAvailable {
    display: flex;
    flex-direction: column;
    gap: 8px;

}


.choice {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-block-start: 0.5625rem;
}

/* End CommandAvailable styles */