.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.head {
    display: flex;
    gap: 1rem;
    color: var(--clr-gray);
    align-items: center;
}

.head svg:hover {
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--clr-gray);
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@keyframes rotate-once {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotateIcon {
    animation: rotate-once 1s linear;
}
