.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 -2rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Commissioner, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.25rem 2rem;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 8.75rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.rating svg {
    color: var(--clr-gray);
    height: 1rem;
}

.rating svg:hover {
    color: var(--clr-dark-blue);
}

.listContainer {
    max-height: 23.75rem;
    overflow-y: auto;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: Commissioner, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
}

.list {
    width: 100%;
}

.grayBackground {
    background-color: #F2F2F2;
}

.whiteBackground {
    background-color: var(--clr-white);
}

.selectedUser {
    background-color: #E5EDFF;

}
