.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.firstContainer {
    display: flex;
    gap: 1rem;
    align-items: center;

    border-radius: var(--radius-12);
    padding: 0.5rem 1rem;

    font-size: var(--fs-title-4);
    font-weight: var(--fw-regular);

    word-break: break-word;
    background-color: var(--clr-primary-gray);
    color: var(--clr-second-text);
}

.chatInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.chatInfo > h3 {
    max-width: 333px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-3);
    font-weight: var(--fw-medium);
    color: var(--clr-primary-text);
}

.inviteLink {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: var(--fs-title-4);
    font-weight: var(--fw-regular);
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.copyMessage {
    margin-left: 10px;
    color: var(--clr-second-blue);
}

.secondContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.infoRow {
    display: flex;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex-grow: 1;
    
    border-radius: var(--radius-12);
    padding: 0.5rem 1rem;
    color: var(--clr-second-text);
    background-color: var(--clr-primary-gray);
}

.info > span:first-child {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-3);
    font-weight: var(--fw-medium);
}

.info >span:last-child {
    color: var(--clr-gray);
}

.red {
    color: var(--clr-red)
}

.green {
    color: var(--clr-green)
}

@media (hover:hover) {
    .inviteLink:hover {
        color: var(--clr-second-blue);
    }
}