.optionsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    border: 0.0625rem solid var(--clr-card-stroke);
    border-radius: var(--radius-24);
    padding: 1.25rem;

    background-color: var(--clr-bg);
}

.optionsSection {
    display: flex;
    column-gap: 3rem;
}

.optionsSectionColumn {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;

    inline-size: 50%;
}

.optionsSectionColumnRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    block-size: 2.625rem;
}

.labelRow,
.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    column-gap: 1rem;
}

.pickersRow {
    display: flex;
    column-gap: 0.25rem;
}
