.textEditor {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.textEditor[aria-invalid="true"] .customQuill :global(.ql-container.ql-snow) {
    border-color: var(--clr-red);
}

.customQuill :global(.ql-container) {
    overflow-y: auto;

    font: inherit;
}

.customQuill :global(.ql-container.ql-snow) {
    overflow-y: unset;
    
    border-radius: 0.5rem;
    border: 1px solid var(--clr-card-stroke);
}

.customQuill :global(.ql-editor) {
    min-block-size: 6.5rem;
    padding-inline: 0.75rem 0.5rem;
    padding-block: 0.25rem;

    color: var(--clr-primary-text);
}

.customQuill :global(.ql-editor.ql-blank)::before {
    inset-inline-start: 0.75rem;

    font-size: 14px;
    font-style: normal;
    color: var(--clr-gray);
}

/* FIXME: adjust link container when it is active */
.customQuill :global(.ql-container .ql-tooltip) {
    top: 5% !important;
    left: 0 !important;
}

.customQuill :global(#emoji-palette) {
    transform: scale3d(1.1, 1.1, 1.1);
    transform-origin: left;

    max-inline-size: 20rem;
}

.hint {
    position: absolute;
    right: 0;

    font-family: InterVariable, Inter, sans-serif;
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
    line-height: 133%;
    color: var(--clr-gray);
}

.invalid .input {
    border: 1px solid var(--clr-red);
}

.invalid .hint {
    color: var(--clr-red);
}
