.container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.title {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-2);
    font-weight: var(--fw-medium);
    color: var(--clr-primary-text);
}

.subtitle {
    font-size: var(--fs-body-3);
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
}
