.btnGroup {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    inline-size: 18.06rem;
    block-size: 3.5rem;
    padding: 1rem 1.5rem;
}
