.wrap {
    padding-block: 0.6875rem 0.6875rem;
}

.container {
    display: flex;
    color: var(--clr-gray);
    padding: 0.375rem 0.875rem;
    border: 1px solid var(--clr-bg);
    border-radius: 0.5rem;
}

.container svg:hover {
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.search {
    display: flex;
    flex-grow: 1;
    gap: 0.5rem;
}

.search svg path {
    stroke: var(--clr-gray);
    fill: none;
}

.searchInput {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--clr-primary-text);
}

.searchInput::placeholder {
    color: var(--clr-gray);
}