.options,
.option {
    display: flex;
    flex-direction: column;
}

.options {
    row-gap: 1.5rem;
}

.option {
    row-gap: 1rem;
}

.option > h2 {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
}

.actionBtnRows {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}