.select {
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--clr-card-stroke);
    background: var(--clr-white);
    overflow: hidden;
}

.select.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100% ;
    height: 2.625rem;
    padding: 0.125rem 0.5rem;
    align-items: center;
    cursor: pointer;
}

.icon {
    transition: transform 0.3s ease;
}

.icon.rotate {
    transform: rotate(-90deg);
}

.options {
    left: 0;
    overflow-y: auto;
    border-top: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.option {
    height: 2.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option:hover {
    color: #4D90F1;
}

