.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 -32px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Commissioner, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 4px 32px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 8px 16px;
}

.listContainer {
    max-height: 380px;
    overflow-y: auto;
}

.list {
    width: 100%;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: Commissioner, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
}
