.container {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    inline-size: 100%;
    block-size: 100%;
    padding: 1.5rem 2rem;

    border-radius: var(--radius-12);
    background-color: var(--clr-white);
}