.section {
    display: flex;
    block-size: 100%;
    inline-size: 100%;
    padding: 1rem 2rem;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 50%;
}

.container > header {
    display: flex;
    justify-content: space-between;
}

.container > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    margin-inline: auto;
    inline-size: 24.1875rem;

}

.container > footer {
    text-align: center;
}

.container > footer > small {
    font-size: var(--fs-caption-1);
    color: var(--clr-dark-blue);
}

.h1,
.h3 {
    text-align: center;
    color: var(--clr-primary-text);
}

.h1 {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-headline-3);
    font-weight: var(--fw-semibold);
}

.h3 {
    font-size: var(--fs-body-1);
}
