.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
}

.btn {
    block-size: 1.25rem;

    opacity: 0.5;
    cursor: pointer;

    color: var(--clr-second-text);
}

.active {
    opacity: 1;
    pointer-events: none;

    color: var(--clr-dark-blue);
}

@media (hover: hover) {
    .btn:hover {
        color: var(--clr-dark-blue);
    }
}