.wrap {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.container {
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: var(--clr-white);
    height: 95vh;
    width: 100%;
    border-radius: 12px;
    gap: 2rem;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.title {
    font-family: Commissioner, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.description {
    font-family: InterVariable, Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
