.triggerBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    padding: 0.5rem 0.75rem;

    cursor: pointer;

    color: var(--clr-second-text);
}

.triggerBtn:global(.ant-dropdown-open) {
    outline: 1px solid var(--clr-light-blue);
}

.wrapper,
.dropdownItemBtn {
    overflow: hidden;

    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.dropdownItemBtn {
    inline-size: 100%;
    max-inline-size: 16rem;
    padding: 0.5rem 1rem;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
        color: var(--clr-primary-text);
}

.dropdownItemBtn:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--fs-body-3);
    color: var(--clr-second-text);
}

.dropdownItemBtn svg {
    inline-size: 1.25rem;
    block-size: 1.25rem;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-3);
    font-weight: var(--fw-medium);
    line-height: 120%;
}

@media (hover: hover) {
    .triggerBtn:hover {
        color: var(--clr-second-blue);
    }
}