.header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.expertInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.addButton {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--radius-12);
    background: var(--clr-primary-gray);
}

