.rows {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
}

.timezone {
    border-radius: var(--radius-16);
    inline-size: 100%;
    max-block-size: 2.625rem;
    padding: 0.6875rem 1rem;

    background-color: var(--clr-white);

    color: var(--clr-primary-text);
}
