.triggerBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    padding: 0.5rem 0.75rem;
    color: var(--clr-second-text);
}

.triggerBtn:global(.ant-dropdown-open) {
    outline: 1px solid var(--clr-light-blue);
}

.wrapper {
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userinfo {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.userinfo > span:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
}

.userinfo > span:last-child {
    font-size: var(--fs-caption-1);
}

.dropdownItemBtn {
    inline-size: 100%;

    font-size: var(--fs-body-3);
    color: var(--clr-primary-text);
}


@media (hover: hover) {
    .triggerBtn:hover {
        color: var(--clr-second-blue);
    }
}
