/* KEEP WATCH! After adding new colours here, don't forget updating ./colours.js */

:root {
    /* Basic colours */
    --clr-white: #FFF;
    --clr-bg: #EBEBEB;
    --clr-card-stroke: #E0E3E7;
    --clr-primary-gray: #FAFAFA;
    --clr-gray: #A6A9B2;
    --clr-primary-text: #252525;
    --clr-second-text: #3E3F4B;

    /* Accent colours */
    --clr-accent-blue: #2C37B5;
    --clr-dark-blue: #4D90F1;
    --clr-second-blue: #1F66CC;
    --clr-light-blue: #ADC6FF;
    --clr-card-blue: #E5EDFF;
    --clr-bg-blue: #1A5AB6;

    /* Functional colours */
    --clr-red: #D36668;
    --clr-green: #00952A;
    --clr-yellow: #EEAF0F;

    /* Other */
    --clr-light-gray: #E9EBF3;
    --clr-overlay: #00000080;
    --clr-transparent-green: #00952A1A;
    --clr-transparent-yellow: #EEAF0F1A;
    --clr-transparent-blue: #4D90F11A;

    /* Old colours */
    --clr-gray2: #B6C9D4;
    --clr-selected: #C0DFFC;
    --clr-purple-light: #D6CEF9;
    --clr-purple: #B3C8F2;
    --clr-green-light: #CEF9D5;
}
