.fallback {
    margin-inline: auto;
    padding: 2rem;
    text-align: center;
}

.list > li {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;

    max-block-size: 6.9rem;
    padding-block: 1rem 1.5rem;

    border-bottom: 1px solid var(--clr-bg);

    cursor: pointer;

    font-family: Inter, sans-serif;
}

.list > li:last-child {
    border-bottom: none;
}

.list > li [data-toolbar-buttons] {
    visibility: hidden;
}

@media(hover: hover) {
    .list > li:hover {
        background-color: var(--clr-primary-gray);
    }

    .list > li:hover [data-toolbar-buttons] {
        visibility: visible;
    }
}