.container {
    position: sticky;
    top: 0;
    right: 0;
    
    min-inline-size: var(--aside-width);
    max-inline-size: var(--aside-width);
    block-size: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    block-size: 100%;
}