.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.question {
    gap: 8px;
}

.answersBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.h4 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem 1.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--clr-card-stroke);
}

.answerText {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding-inline-start: 2rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
}

.clue {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: var(--clr-second-text);
}

.buttonBlock {
    display: flex;
    height: 100%;
    align-content: flex-end;
    padding: 0 2px;
}

.link {
    text-decoration: underline;
}