.section,
.menuContent,
.menuFooter,
.menuActions {
    display: flex;
    flex-direction: column;
}

.section {
    justify-content: space-between;
    block-size: 100%;
}

.menuContent {
    row-gap: 1.5rem;
}

.menuFooter,
.menuActions {
    row-gap: 1rem;
}

.buttons > button {
    justify-content: flex-start;

    block-size: 3rem;
    padding: 0.75rem 1rem;

    font-family: 'InterVariable, Inter', sans-serif;
    font-size: var(--fs-body-2);
}

.buttons > button:focus,
.buttons > button:disabled {
    border: 2px solid transparent;
}

.buttons > button.selected.selected {
    background-color: var(--clr-card-blue);
    color: var(--clr-accent-blue);
    font-weight: var(--fw-semibold);
}

.menuFooter > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 0.75rem;
}

.menuFooter > div:last-child > small {
    font-size: var(--fs-caption-1);
    color: var(--clr-dark-blue);
}

@media (hover: hover) {
    .buttons > button:hover {
        background-color: transparent;
        color: var(--clr-dark-blue);
    }
}
