.basis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    border-radius: 50%;

    cursor: default;
}

.basis > img {
    inline-size: 100%;
    block-size: 100%;
}

.big {
    flex-shrink: 0;
    inline-size: 3rem;
    block-size: 3rem;
}

.medium {
    flex-shrink: 0;
    inline-size: 2rem;
    block-size: 2rem;
}

.small {
    flex-shrink: 0;
    inline-size: 1.5rem;
    block-size: 1.5rem;
}

.disabled > img {
    opacity: 0.4;
}

.fallback {
    background-color: var(--clr-dark-blue);

    font-family: 'InterVariable, Inter', sans-serif;

    color: var(--clr-white);
}

.fallback.big {
    font-size: var(--fs-body-1);
    font-weight: var(--fw-medium);
    line-height: 111%;
}

.fallback.medium {
    font-size: var(--fs-body-2);
    font-weight: var(--fw-regular);
    line-height: 137.5%;
}

.fallback.small {
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-medium);
    line-height: 133%;
}

.fallback.disabled {
    background: var(--clr-gray);
}

@media screen and (hover: hover) {
    .fallback:hover {
        background: linear-gradient(0deg, rgba(0 0 0 / 0.15) 0%, rgba(0 0 0 / 0.15) 100%);
    }
}