.list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.75rem;

    color: var(--clr-second-text);
}

.list > li {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

    padding: 0.25rem 0.75rem;
    border-radius: var(--radius-16);
    
    background-color: var(--clr-card-blue);
    list-style-type: none;
    font-size: var(--fs-body-2);
    color: var(--clr-dark-blue);
}

.closeIcon {
    inline-size: 1rem;
    block-size: 1rem;

    cursor: pointer;
}

@media (hover: hover) {
    .closeIcon:hover path {
        fill: var(--clr-second-text);
    }
}