.section {
    display: flex;
    flex-direction: column;

    margin: auto;
    max-inline-size: 22rem;

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-semibold);
    color: var(--clr-second-text);
}

.section > h1 {
    margin-block-end: 1rem;
    font-size: var(--fs-headline-2);
}

.section > hgroup {
    display: flex;
    flex-direction: column;

    font-size: var(--fs-headline-4);
}

.section > hgroup > h4:last-of-type {
    transform: rotate(-6.67deg);
    margin-inline-start: 7.1875rem;
}

.section > img:nth-child(3) {
    align-self: center;

    max-inline-size: 11.875rem;
    aspect-ratio: 1/1.5;
}

.section small:last-child{
    text-align: center;
    font-weight: var(--fw-medium);
}

