.expert {
    display: flex;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    border-radius: var(--radius-12);
    border: 1px solid var(--clr-primary-gray);
    background: var(--clr-primary-gray);
    color: var(--clr-second-text);
    font-size: var(--fs-caption-1);
    font-weight: var(--fw-regular);
    line-height: 1rem;
}

.expert:hover {
    cursor: pointer;
    border: 1px solid var(--clr-dark-blue);
}

.block {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.manage {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
}

.expert:hover .manage {
    visibility: visible;
    opacity: 1;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 1rem;
}

.ava {
    width: 3rem;
}

.name {
    font-family: Commissioner, sans-serif;
    font-size: var(--fs-body-2);
    font-weight: var(--fw-medium);
    line-height: 1.25rem;
}

.description {
    max-width: 216px;
    word-wrap: break-word;
}