.section {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
    padding-inline: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 50%;
}

.container > header {
    display: flex;
    justify-content: space-between;
}

.container > main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    margin-inline: auto;
    inline-size: 24.5rem;
    padding: 1.5rem 0.75rem;
    border: 0.0625rem var(--clr-gray);
    border-radius: 0.75rem;
    background-color: var(--clr-white);

    font-family: Commissioner, sans-serif;
    font-weight: var(--fw-medium);
}

.addChat > a {
    inline-size: 100%;
    color: var(--clr-second-text);
}

.container > footer {
    text-align: center;
}

.container > footer > small {
    font-size: var(--fs-caption-1);
    color: var(--clr-dark-blue);
}
