.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 32px;
    cursor: pointer;
}


.block {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    display: flex;
    gap: 5px;
    font-family: Commissioner, sans-serif;
}

.nickName {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.ratingBlock {
    display: flex;
    align-items: center;
}

.points {
    width: 8.75rem;
    display: flex;
    justify-content: center;
}

.ava {
    width: 3rem;
}
