.list {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    overflow-y: auto;
}

.expertInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.columnFlex {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-inline-end: 0.625rem;
}

.expertInfo > div {
    flex-basis: calc(50% - 0.5rem);
}

.addButton {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--clr-primary-gray);
}

.displayType {
    display: inline-block;
}
