.container {
    border-radius: var(--radius-12);
    padding: 1.5rem 1rem;

    background-color: var(--clr-white);
}

.time {
    display: flex;
    justify-content: center;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-headline-2);
    font-weight: var(--fw-semibold);
    color: var(--clr-gray);
}

.select {
    margin-inline: auto;
}
