.container {
    position: relative;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    font-family: Commissioner, sans-serif;
    font-size: var(--fs-title-4);
    font-weight: var(--fw-medium);
    line-height: 125%;
    color: var(--clr-primary-text);
}

.textarea,
.hint {
    font-family: InterVariable, Inter, sans-serif;
}

.textarea::placeholder,
.hint {
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
}

.textarea {
    display: flex;
    align-items: center;
    column-gap: 8px;

    border-radius: 8px;
    border: 2px solid var(--clr-card-stroke);

    block-size: 140px;
    min-block-size: 24px;
    padding: 8px 8px 8px 12px;
    background-color: var(--clr-white);

    font-size: var(--fs-body-3);
    font-weight: var(--fw-medium);
    line-height: 157%;
    resize:none;
}

.textarea:focus {
    border: 2px solid var(--clr-dark-blue);
}

.hint {
    position: absolute;
    right: 0;

    font-size: var(--fs-caption-1);
    line-height: 133%;
}

.invalid {
    color: var(--clr-red);
}

textarea.invalid {
    color: var(--clr-red);
    border: 2px solid var(--clr-red);
}

.invalid .textarea {
    border: 2px solid var(--clr-red);
}

.invalid .hint {
    color: var(--clr-red);
}
