.settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.buttons button {
    inline-size: 7.5rem;
    min-inline-size: 7.5rem;
    flex-shrink: 0;
}


.callsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    gap: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5rem;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.h2 {
    font-family: Commissioner, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}

.h4 {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    color: var(--clr-second-text);
}

.checkbox {
    align-items: center;
    align-self: stretch;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--clr-white);
}

.option {
    display: flex;
    flex-direction: column;
}

.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    height: 2.625rem;
    padding: 0.125rem 0 0.125rem 2rem;
    color: black;
}

.value:hover {
    color: var(--clr-dark-blue);
    cursor: pointer;
}

.item {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.item.selected {
    color: var(--clr-second-blue);
}

.periodCheckbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--clr-white);
}

.manage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
